{% extends 'base.html' %} 

{% block title %} Edit Survey {% endblock %} 

{% block content %}
    <form method="POST">
        {% csrf_token %} 
        {{ surveyForm }}
        <hr>
        <input class="btn btn-primary" 
            style="font-size: 20px; height: 4vh; min-height: 35px; width: 100%; padding: 0px; margin: 0px 0px 2.5% 0px" 
            type="submit" value="Save" 
        />
    </form>
    <h2> Questions </h2>
    <ol>
        {% for question in questions %}
            <li>
                <div style="padding: 5px; display: grid; grid-auto-flow: column; grid-template-columns: 80%">
                    {{ question.text }}
                    <button type="button" class="btn btn-primary" style="padding: 0px; margin: 0px 10px 0px 0px"
                        onclick="location.href='{% url 'question_edit' survey=survey question=question.id %}'">Edit</a>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ol>
    <hr>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button  style="font-size: 20px; height: 4vh; min-height: 35px; width: 100%; padding: 0px; margin: 0px 0px 2.5% 0px" 
            type="submit" class="btn btn-success" onclick="location.href='{% url 'question_create' survey=survey %}'">Add Question
        </button>
    </div>
{% endblock %}
