{% extends 'base.html' %} 

{% block title %} Edit Survey {% endblock %} 

{% block content %}
    <form method="POST">
        {% csrf_token %} 
        {{ surveyForm }}
        <hr>
        <input class="btn btn-primary" 
            style="font-size: 20px; height: 4vh; min-height: 35px; width: 100%; padding: 0px; margin: 0px 0px 2.5% 0px" 
            type="submit" value="Save" 
        />
    </form>
    <h2> Questions </h2>
    {% for question in questions %}
    <li>
        {{ question.text }}
        <button type="button" class="btn btn-primary">
            <a href="{% url 'question_edit' question=question.id %}">Edit</a>
        </button>
    </li>
    {% endfor %}
    <hr>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button  style="font-size: 20px; height: 4vh; min-height: 35px; width: 100%; padding: 0px; margin: 0px 0px 2.5% 0px" 
            type="submit" class="btn btn-success" onclick="location.href='{% url 'question_create' survey=survey %}'">Add Question
        </button>
    </div>
{% endblock %}
