{% extends 'base.html' %}

{% block title %}Survey Overview{% endblock %}

{% block content %}
<ul>
  {% for survey in surveys %}
  <li>
    <form style="display: grid; grid-auto-flow: column; grid-template-columns: 50% 25% 25%; font-size: 125%; padding: 1%">
      {{ survey.title }}
      <button type="button" class="btn btn-primary" style="padding: 0px; margin: 0px 10px 0px 0px" onclick="location.href='{% url 'survey_edit' survey=survey.id %}'">Edit</button>
      <button type="button" class="btn btn-primary" style="padding: 0px;" onclick="location.href='{% url 'survey_edit' survey=survey.id %}'">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
