{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-floating mb-3">
    <input id="id_username" name="username" class="form-control bg-dark text-light" type="text" placeholder="username"/>
    <label for="id_username">username</label>
  </div>
  <div class="form-floating mb-3">
    <input id="id_password" name="password" class="form-control bg-dark text-light" type="password" placeholder="password"/>
    <label for="id_password">password</label>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}
